body
{
background-color: purple;
  text-align: center;
}
span
{
  font-size: 30px;
}
#camera
{
  border: 2px dashed black;
  width: 350px;
  height: 300px;
 
}
#camera1
{
  border: 2px dashed black;
  width: 350px;
  height: 300px;

 
}